<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
  </ul>
  <h3 class="text-muted">My TeamStream</h3>
</div>

<div id="Teams" class="marketing" ng-controller="myTeamsController">
  <h4>Choose Your Teams</h4>
  <ul>
    <li class="teams" ng-repeat="team in teams">
      <a href='#'>{{ team.name }}</a>
    </li>
  </ul>
</div>

<div class="marketing">
  <h4>My Teams</h4>
  <p>
    Display a list of the chosen teams...
  </p>
</div>

<div id="headlines" class="marketing" ng-controller="myHeadlinesController">
  <h4>Headlines</h4>
  <ul>
    <li class="headlines" ng-repeat="headline in headlines">
      <a href='{{ headline.links.web.href }}'>{{ headline.headline }}</a>
    </li>
  </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> built by Robert Holmes</p>
</div>
