<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">My TeamStream</h3>
</div>

<div class="row marketing">
  <h4>Sign In</h4>
  <p>
    My TeamStream is your personalized online soccer dashboard. Add your favorite teams to your stream and view realtime data related to news, scores, and other updates.
  </p>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Built Robert Holmes</p>
</div>
